.cardGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:1rem;
  align-items: flex-start ;
  width: 100%;
  
  
}

.card {
  --padding: 1rem;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  border-radius: .25rem;
  overflow: hidden;
  margin: 1rem auto;

}

.cardHeader {
  margin-bottom: .5rem;
  max-height: 300px;
}
.cardHeader > img {
  padding: var(--padding);
  padding: 0;
  overflow: hidden;
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: top ;
  transition: 200ms transform ease-in-out;
 
 
}
.card:hover > .cardHeader >img{
  transform: scale(1.025);
}
.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.cardBody {
  padding: 0 var(--padding )

}
.cardBody > p{
  color: grey;
  font-size: 0.9rem;
}
.cardFooter{
  margin-top: 2rem;
  padding: .5rem var(--padding);
  /* padding-top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: .5px solid rgba(161, 160, 160, 0.689);


}



/* @media (max-width: 376px) {
  .news {
    display: inline-block;
  }
} */
