.newsTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.cardImg {
  min-width: 200px;
}
.cardImg > img {
  display: block;
  width: 100%;
  max-height: 650px;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  object-position: center;
}

.newsCardBody {
  padding: 1rem;
}

.newsCardBody p {
  color: grey;
  font-size: 0.9rem;
}
.news {
  display: flex;
  /* box-shadow: 4px 5px 10px grey; */
  /* border-top: 2px solid white; */
}
@media (max-width: 376px) {
  .news {
    display: block;
  }
}
